.card {
    display: inline-block;
    width: 90%;
    font-family: 'Space Mono', monospace;
    color: white;
    border-radius: 3px;
    border: 1px solid rgba(168, 168, 168, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 20px 25px 20px;
    margin-bottom: 10px;
}

.card:hover {
    animation-name: rubberBand;
    animation-duration: 1s;
    border: 1px solid rgba(168, 168, 168, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
}

.title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact {
    text-align: justify;
}

  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    animation-name: rubberBand;
  }

.badge {
    margin-bottom: 0px;
}


  /* flash animation for cards */
  /* @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
  
  .flash {
    animation-name: flash;
  } */